#creation
	form
		.inner
			div.group
				fieldset
					label Mapping the Yale Grammatical Diversity Project
					select(type='text' name='id' required)
						option(disabled selected value) Select Map
				fieldset
					input(type='submit' required value='Load Map')
						