#creation
	form
		.inner
			div.group(data-layer='survey')
				label
					| Survey Data
					em survey.uri
				input(type='text' name='survey.uri' value='mapbox://ygdp.cjfaf000j0nxs2qp8gs7qpy75-2syg1')
				label
					| Survey ID
					em survey.id
				input(type='text' name='survey.id' value='Survey_8')
			div.group(data-layer='coldspots')
				label
					| Coldspots Data
					em coldspots.uri
				input(type='text' name='coldspots.uri' value='mapbox://ygdp.cjf9zc8rv1evr2wqwbsym7s86-8iw7q')
				label
					| Coldspots ID
					em coldspots.id
				input(type='text' name='coldspots.id' value='Coldspots_8')
			div.group(data-layer='hotspots')
				label
					| Hotspots Data
					em hotspots.uri
				input(type='text' name='hotspots.uri' value='mapbox://ygdp.cjf9zw1ys0j8o2wp8qs9iqo81-00bge')
				label
					| Hotspots ID
					em hotspots.id
				input(type='text' name='hotspots.id' value='Hotspots_8')
			input(type='submit')