aside#phenomena.closed
	.hamburger.close
	.inner
		header.static
			.wrapper
				h2.phenomenon
				h1.sentence
		.scroller
			.form
				.fieldset.phenomena(data-prop='phenomena')
					.options
						ul
		.shadow.bottom