doctype html
- var ver = Math.round((new Date()).getTime() / 1000);
html(lang='en-us', style='height: 100%; visibility: visible;')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')
		script(src='./assets/js/jquery-3.2.1.min.js')
		script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js')
		script(src='./assets/js/jquery-ui.min.js')
		script(src='./assets/js/scripts.js?v='+ver)
		//- link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet')	
		link(href='./assets/css/bootstrap-grid.min.css' rel='stylesheet')
		link(href='./assets/css/style.css?v='+ver rel='stylesheet')
	body
		include partials/creation.pug
		#frame(data-mapbox='MAPBOX_VARS')
			header.fixed
				.wrapper
					h2 Dative Presentatives
					h1.sentence
			include partials/phenomena.pug
			include partials/filters.pug
			footer
				a(href='https://ygdp.yale.edu/').logo
					object(type='image/svg+xml' data='./assets/img/ygdp.svg') Yale Grammatical Diversity Project
				.keys
					.key.reject
						span Unacceptable
					.key.accept
						span Acceptable
			main
				#map