@import 'vars';
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	color: $dark;
	font-family: Helvetica, Arial, sans-serif;
	@include baseText;
}
body {
	overflow-y: auto;
}
#embed {
	width: 80vw;
	height: 70vw;
	margin: 5vw 10vw;
	display: table;
}
#frame {
	width: calc(100% - 4em);
	height: calc(100% - 4em);
	padding: 2em;
	background-color: $lightBlue;
	position: relative;
}
h1 {
	@include xLargeText;
}
h2 {
	@include largeText;
}
header {
	color: $dark;
	opacity: 1;
	.wrapper {
		width: calc(100% - 2em);
		padding: 1em;
		display: table;
		background-color: $white;
	}
	h1 {
		display: inline;
		margin: 0 0 2em 0;
		padding: 0 0 .125em 0;
		border-bottom: .125em solid $dark;
	}
	&.fixed {
		width: calc(100% - 4em);
		height: calc(100% - 4em);
		position: absolute;
		left: 2em;
		top: 2em;
		z-index: 500;
		overflow: hidden;
		pointer-events: none;
		.wrapper {
			max-width: 16em;
			border-radius: .5em;
			box-shadow: 0 0 4em 3em $white;
			h1 {
				pointer-events: all;
			}
			h2.sentence {
				margin: 0;
				padding: 2em 0 0 0;
				pointer-events: all;
			}
		}
	}
	&.static {
		width: 18em;
		padding: 0 0 0 2em;
	}
	&.hide {
		display: none;
	}
}
aside {
	width: 100%;
	position: absolute;
	overflow: hidden;
	z-index: 400;
	.inner {
		width: 100%;
		max-width: 20em;
		height: 100%;
		overflow: hidden;
    display: flex;
    flex-direction: column;
	}
	ul {
		margin: 0;
		li {
			list-style: none;
			position: relative;
		}
	}
	.slider {
		width: calc(100% - 10px);
		height: 2px;
		margin: 1em 0;
		position: relative;
		background: $dark;
		border: 1px solid $white;
		.ui-slider-handle {
			height: 10px;
			position: absolute;
			top: -5px;
			background: $dark;
			border: 1px solid $white;
			transition: transform 100ms ease-in-out;
			transform-origin: center;
			&.ui-state-hover, &.ui-state-active {
				cursor: ew-resize;
				transform: scale(1.5);
				z-index: 99999;
			}
			&.ui-state-focus {
				background: blue;
				outline: none;
			}
		}
		&:hover {
			// background: blue;
		}
		&[data-type='scale'] {
			.ui-slider-handle {
				width: 10px;
				left: -5px;
				border-radius: 50%;
			}
		}
		&[data-type='range'] {
			.ui-slider-range {
				height: 2px;
				position: absolute;
				top: -1px;
				background: blue;
				border: 1px solid $white;
			}
			.ui-slider-handle {
				width: 5px;
				left: 0px;
			}
		}
	}
	&#phenomena {
		height: calc(100% - 4em);
		left: 0;
		top: 2em;
		color: $dark;
		pointer-events: none;
		.hamburger {
			width: 2em;
			height: 2em;
			position: absolute;
			left: 0em;
			top: 0em;
			background-image: url(./../img/hamburger.svg);
			background-position: center;
			background-size: 1.25em auto;
			background-repeat: no-repeat;
			pointer-events: all;
			&:hover {
				cursor: pointer;
				opacity: .7;
			}
		}
		.inner {
			box-shadow: 0 0 4em 3em $white;
		}
		.phenomena {
			padding: 1em;
			margin: 0 0 0 2em;
			background-color: $white;
			pointer-events: all;
			display: flex;
	    overflow-y: auto;
	    @include hideScroll;
		}
		ul {
			padding: 0;
			li {
				margin: 0 1em 1em 0;
				transform-origin: left center;
				span {
					font-weight: normal;
					padding: 0;
					margin: 0;
				}
				&:hover, &.selected {
					cursor: pointer;
					span {
						font-weight: bold;
					}
				}
			}
		}
		&.closed {
			width: 2em;
			left: 0;
			.phenomena {
				padding: 0;
				margin: 0;
				background-color: transparent;
				.options {
					width: 100%;
				}
				ul {
					li {
						width: .5em;
						height: .5em;
						padding: 0;
						margin: .75em;
						border-radius: 50%;
						background: $white;
						&.selected {

						}
						span {
							display: none;
						}
					}
				}
			}
		}
	}
	&#filters {
		height: auto;
		max-height: calc(100% - 2em);
		max-width: 20em;
		right: 2em;
		top: 0;
		user-select: none;
		.tabs {
			height: 2em;
			.tab {
				width: calc(50% - 1px);
				height: calc(100% - 5px);
				margin: 5px 0 0 0;
				display: table;
				float: left;
				background-color: $mediumGrey;
				border-radius: 5px 5px 0 0;
				.label {
					margin: auto;
					display: table-cell;
			    vertical-align: middle;
			    text-align: center;
			    font-weight: bold;
			    opacity: .5;
			    text-transform: uppercase;
				}
				&.active {
					background-color: $lightGrey;
					.label {
						opacity: 1;
					}
				}
				&:hover {
					cursor: pointer;
				}
				&:first-child {
					margin-right: 1px;
				}
				&:last-child {
					margin-left: 1px;	
				}
			}
		}
		.inner {
			padding: 1em;
			background: $lightGrey;
		}
		// .close {
		// 	width: 1.25em;
		// 	height: 1.25em;
		// 	padding: 1em;
		// 	position: absolute;
		// 	right: 0;
		// 	top: 0;
		// 	.arrow {
		// 		width: 1.25em;
		// 		height: 1.25em;
		// 		background-image: url('./../img/arrows.svg');
		// 		background-position: left -1.25em;
		// 		background-repeat: no-repeat;
		// 		background-size: 1.25em auto;
		// 	}
		// 	&:hover {
		// 		opacity: .7;
		// 		cursor: pointer;
		// 	}
		// }
		.fieldset {
			margin: 0 0 1em 0;
			.label {
				padding-left: 1.25em;
				font-weight: bold;
				position: relative;
				.arrow {
					width: 1em;
					height: 1em;
					left: 0;
					top: 0;
					position: absolute;
					background-image: url('./../img/arrows.svg');
					background-position: left -1em;
					background-repeat: no-repeat;
					background-size: 1em auto;
				}
				.val {
					margin-left: .5em;
					opacity: .5;
				}
				&:hover {
					cursor: pointer;
				}
			}
			.options {
				height: 0;
				overflow: hidden;
				ul {
					padding: 0 0 0 1em;
					li {
						padding: .25em 0 .25em 1.25em;
						margin: .75em 0 0 0;
						font-weight: bold;
						&::before, &::after {
							position: absolute;
							border-radius: 50%;
							content: '';
						}
						&::before {
							width: .8em;
							height: .8em;
							left: 0;
							top: .25em;
							border: 1px solid $dark;
						}
						&::after {
							width: calc(.8em - 2px);
							height: calc(.8em - 2px);
							left: 2px;
							top: calc(2px + .25em);
							content: '';
							background: transparent;
						}
						&:hover {
							cursor: pointer;
							&::after {
								background: $white;
							}
						}
						&.selected, &.selected:hover {
							&::after {
								background: $dark !important;
							}
						}
					}
				}
			}
			&.open {
				.label .arrow {
					background-position: left -2em;
				}
				.options {
					height: auto;
				}
			}
			&.disabled {
				opacity: .5;
				pointer-events: none;
				.label .arrow {
					background-position: left -1em !important;
				}
				.options {
					height: 0 !important;
				}
			}
		}
		&.closed {
			.close .arrow {
				background-position: left -3.75em;
			}
		}
	}
}
main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	position: relative;
	.label {
		font-weight: normal;
		margin: 0 0 .5em 0;
		&:hover {
			cursor: pointer;
		}
	}
	#map {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		.mapboxgl-canvas-container {
			canvas {
				width: 100% !important;
			}
		}
		.mapboxgl-popup {
			width: 18em;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: none !important;
			will-change: transform;
			z-index: 500;
			pointer-events: none;
			.mapboxgl-popup-content {
				position: relative;
				background-color: $purple;
				color: $white;
				padding: 1.75em 2em;
				@include xSmallText;
				ul {
					padding: 0;
					margin: 0;
					list-style: none;
					li {
						padding: .25em 0;
						margin: 0;
					}
				}
			}
		}
	}
}