@font-face {
  font-family: 'Mallory';
  src: url("./../fonts/Mallory-Light.woff2") format("woff2"), url("./../fonts/Mallory-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Mallory';
  src: url("./../fonts/Mallory-LightItalic.woff2") format("woff2"), url("./../fonts/Mallory-LightItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Mallory';
  src: url("./../fonts/Mallory-Book.woff2") format("woff2"), url("./../fonts/Mallory-Book.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Mallory';
  src: url("./../fonts/Mallory-BookItalic.woff2") format("woff2"), url("./../fonts/Mallory-BookItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Mallory';
  src: url("./../fonts/Mallory-Medium.woff2") format("woff2"), url("./../fonts/Mallory-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Mallory';
  src: url("./../fonts/Mallory-MediumItalic.woff2") format("woff2"), url("./../fonts/Mallory-MediumItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Mallory';
  src: url("./../fonts/Mallory-Bold.woff2") format("woff2"), url("./../fonts/Mallory-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Mallory';
  src: url("./../fonts/Mallory-BoldItalic.woff2") format("woff2"), url("./../fonts/Mallory-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }
