@import 'vars';
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	color: $dark;
	font-family: 'Mallory', Helvetica, Arial, sans-serif;
	@include smText;
	font-weight: 200;
}
body {
	overflow-y: auto;
	&.form {
		#frame {
			display: none;
		}
		#creation {
			display: block;
		}
	}
	&.map {
		#frame {
			display: block;
		}
		#creation {
			display: none;
		}
	}
}
#frame {
	width: 100%;
	height: 100%;
	padding: $mdSpace;
	background-color: $lightBlue;
	position: relative;
	display: none;
}
h1 {
	@include lgText;
	font-weight: 400;
}
h2 {
	@include mdText;
	font-weight: 400;
}
header {
	color: $dark;
	opacity: 1;
	.wrapper {
		width: 100%;
		padding: $smSpace calc(#{$smSpace} + 3px);
		display: table;
		background-color: rgba($white,.8);
	}
	h2 {
		display: inline-block;
		margin: 0;
		padding: 0 0 .125em 0;
		border-bottom: .125em solid $dark;
	}
	&.fixed {
		width: calc(100% - #{$lgSpace});
		height: calc(100% - #{$lgSpace});
		position: absolute;
		left: $mdSpace;
		top: $mdSpace;
		z-index: 500;
		overflow: hidden;
		pointer-events: none;
		.wrapper {
			max-width: $left;
			h2 {
				pointer-events: all;
			}
			h1.sentence {
				margin: 3px 0 0 0;
				padding: $mdSpace 0 0 0;
				pointer-events: all;
			}
		}
	}
	&.hide {
		display: none;
	}
}
aside {
	width: 100%;
	position: absolute;
	overflow: hidden;
	z-index: 400;
	header {
		width: $left;
		margin: 0 0 0 $mdSpace;
	}
	.inner {
		width: 100%;
		height: 100%;
		overflow: hidden;
		ul {
			margin: 0;
			li {
				list-style: none;
				position: relative;
			}
		}
		.scroller {
			max-height: 100%;
			position: relative;
			pointer-events: all;
			overflow-y: scroll;
			@include hideScroll;
		}
		.form {
			pointer-events: all;
			position: relative;
		}
		.shadow {
			width: 100%;
			height: $lgSpace;
			display: table;
			&.top {
				position: absolute;
				left: 0;
				top: 0;
			}
			&.bottom {
				position: relative;
				margin-top: -#{$lgSpace};
			}
		}
	}
	&#phenomena {
		height: calc(100% - #{$lgSpace});
		left: 0;
		top: $mdSpace;
		color: $dark;
		pointer-events: none;
		.hamburger {
			width: $mdSpace;
			height: $mdSpace;
			position: absolute;
			left: 0em;
			top: $mdSpace;
			z-index: 500;
			background-color: $lightBlue;
			background-image: url(./img/x.svg);
			background-position: center;
			background-size: 1.25em auto;
			background-repeat: no-repeat;
			pointer-events: all;
			&:hover {
				cursor: pointer;
				opacity: .7;
			}
		}
		.inner {
			width: #{$left+$mdSpace};
			display: flex;
			flex-direction: column;
		}
		.shadow {
			&.top {
				@include topShadow($white);
				position: relative;
				margin: 0 0 -#{$lgSpace} $mdSpace;
				z-index: 500;
			}
			&.bottom {
				@include bottomShadow($white);
				width: calc(100% - #{$mdSpace});
				margin-left: $mdSpace;
			}
		}
		.phenomena {
			padding: #{$mdSpace*.75} $smSpace;
			margin: 0 0 0 $mdSpace;
			background-color: $white;
			pointer-events: all;
			display: flex;
			overflow-y: auto;
			background-color: rgba($white,.8);
			@include hideScroll;
		}
		ul {
			padding: 0;
			li {
				margin: 0 1em 1em 0;
				transform-origin: left center;
				span {
					font-weight: 200;
					padding: 0;
					margin: 0;
				}
				&:hover, &.selected {
					cursor: pointer;
					span {
						font-weight: 400;
					}
				}
			}
		}
		&.closed {
			width: $mdSpace;
			left: 0;
			.hamburger {
				background-image: url(./img/hamburger.svg);
			}
			.shadow {
				margin-left: 0;
				&.top {
					margin-top: 1em;
					@include topShadow($lightBlue);
				}
				&.bottom {
					width: 2em;
					@include bottomShadow($lightBlue);
				}
			}
			.phenomena {
				padding: 1.25em 0;
				margin: 0;
				background-color: transparent;
				.options {
					width: 100%;
				}
				ul {
					li.option {
						width: 5px;
						height: 5px;
						padding: 0;
						margin: calc(#{$mdSpace/2} - 2.5px);
						border-radius: 50%;
						background: $white;
						span {
							display: none;
						}
						&:hover {
							background: $mediumGrey;
						}
						&.selected {
							background: $dark;
						}
					}
				}
			}
		}
	}
	&#filters {
		height: calc(100% - #{$mdSpace});
		max-width: $right;
		right: $mdSpace;
		top: 0;
		user-select: none;
		pointer-events: none;
		&.closed {
			height: $mdSpace;
		}
		.tabs {
			height: $mdSpace;
			display: flex;
			flex-direction: row;
	    justify-content: space-between;
			pointer-events: all;
			.tab {
				width: calc(50% - 1px);
				height: calc(100% - 5px);
				margin: 5px 0 0 0;
				display: table;
				background-color: $lightGrey;
				border-radius: 5px 5px 0 0;
				.label {
					margin: auto;
					display: table-cell;
					vertical-align: middle;
					text-align: left;
					text-indent: .5em;
					font-weight: bold;
					color: $mediumGrey;
					text-transform: uppercase;
				}
				&.active {
					background-color: $lighterGrey;
					.label {
						color: $dark;
					}
				}
				&:hover {
					cursor: pointer;
					.label {
						color: $dark;
					}
				}
			}
		}
		.inner {
			width: 100%;
			height: calc(100% - #{$mdSpace});
			position: absolute;
			left: 0;
			top: $mdSpace;
			.form {
				width: 100%;
				padding: $mdSpace $smSpace;
				background-color: $lighterGrey;
				display: none;
				&.active {
					display: block;
				}
				&#embedder {
					padding-top: 0;
					padding-bottom: 15px;
					display: block;
					.options {
						padding: 0;
						.instruct {
							color: $mediumGrey;
						}
						textarea {
							margin: $smSpace 0 0 0;
							width: 100%;
							border: none;
							background: $lightGrey;
						}
					}
					.fieldset.open .options {
						padding-top: $smSpace;
					}
				}
			}
			.shadow {
				&.top {
					@include topShadow($lighterGrey);
					margin-bottom: -#{$lgSpace};
					z-index: 500;
				}
				&.bottom {
					@include bottomShadow($lighterGrey);
					width: 100%;
				}
			}
		}
		.fieldset {
			margin: 0 0 1em 0;
			.head {
				width: 100%;
				padding-left: 1.25em;
				font-weight: 200;
				position: relative;
				.label {
					display: inline;
					.arrow {
						width: 1em;
						height: 1em;
						left: 0;
						top: 0;
						position: absolute;
						background-image: url('./img/arrows.svg');
						background-position: left -1em;
						background-repeat: no-repeat;
						background-size: 1em auto;
					}
					&:hover {
						cursor: pointer;
						span {
							font-weight: 400;
						}
					}
				}
				.note {
					color: $mediumGrey;
					@include xsText;
					position: absolute;
			    display: inline;
			    padding-left: 5px;
			    visibility: hidden;
				}
			}
			.options {
				height: 0;
				padding: 0 0 0 2em;
				overflow: hidden;
				ul {
					padding: 0;
					li {
						padding: .25em .75em 0 0;
						margin: .25em 0 0 0;
						cursor: pointer;
						font-weight: 200;
						&:not(.all) {
							background-image: url(./img/x.svg);
							background-position: 200% center;
							background-repeat: no-repeat;
							background-size: .75em;
						}
					}
				}
			}
			ul {
				li {
					&:hover {
						font-weight: 400;
					}
					&.selected {
						font-weight: 400;
						background-position: right center !important;
					}
				}
			}
			.option.range-input {
				padding-right: 0;
				&:hover {
					&:not(.selected).no-hover {
						font-weight: 200;
					}
				}
				.inputs {
					font-weight: 200;
					display: inline;
					float: right;
					color: $white;
					cursor: default;
					input {
						width: 1.5em;
						background-color: transparent;
						border: none;
						outline: none;
						display: inline;
						text-align: center;
						color: $white;
						padding: 0 0 1px 0;
						&::-webkit-outer-spin-button,
						&::-webkit-inner-spin-button {
							-webkit-appearance: none;
							margin: 0;
						}
					}
				}
				&.accept .inputs {
					background-color: $green;
				}
				&.reject .inputs {
					background-color: $purple;
				}
			}
			.slider {
				width: calc(100% - 10px);
				height: 2px;
				margin: 10px 0 20px 0;
				position: relative;
				background: $lightGrey;
				.ui-slider-handle {
					width: 10px;
					height: 11px;
					position: absolute;
					top: -5px;
					margin-left: -4px;
					background: transparent;
					transition: transform 100ms ease-in-out;
					transform-origin: center;
					&::before {
						width: 2px;
						height: 11px;
						position: absolute;
						top: 0;
						left: 4px;
						background: $dark;
						content: '';
					}
					&::after {
						width: 20px;
						position: absolute;
						top: 11px;
						margin-left: -5px;
						content: attr(data-val);
						color: $mediumGrey;
						text-align: center;
						@include xsText;
					}
					&.ui-state-hover, &.ui-state-active {
						cursor: ew-resize;
						z-index: 99999;
					}
					&.ui-state-focus {
						outline: none;
					}
				}
				&:hover {
					// background: blue;
				}
				&[data-type='scale'] {
					.ui-slider-handle {
						width: 10px;
						left: -5px;
						border-radius: 50%;
					}
				}
				&[data-type='range'] {
					.ui-slider-range {
						height: 2px;
						position: absolute;
						background: $dark;
						// border: 1px solid $white;
					}
					// .ui-slider-handle {
					// 	width: 2px;
					// 	left: 0px;
					// }
				}
			}
			&.open {
				.head {
					.label {
						.arrow {
							background-position: left -2em;
						}
					}
					.note {
						visibility: visible;
					}
				}
				.options {
					height: auto;
					overflow: visible;
				}
			}
			&.disabled {
				opacity: .5;
				pointer-events: none;
				.label .arrow {
					background-position: left -1em !important;
				}
				.options {
					height: 0 !important;
				}
			}
			&.multi {
				.head .multi-toggle {
					visibility: hidden;
					display: inline-block;
					.multi-label {
						display: inline-block;
						margin-left: 1em;
						font-weight: 200;
						&.selected {
							font-weight: 400;
							text-decoration: underline;
						}
						&:hover {
							font-weight: 400;
							cursor: pointer;
						}
					}
				}
				.multi-field {
					display: none;
					&.open {
						display: block;
					}
				}
				&.open {
					.head .multi-toggle {
						visibility: visible;	
					}
				}
			}
		}
		&.closed {
			.close .arrow {
				background-position: left -3.75em;
			}
		}
	}
}
main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	position: relative;
	.label {
		font-weight: 200;
		margin: 0 0 .5em 0;
		&:hover {
			cursor: pointer;
		}
	}
	#map {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		.mapboxgl-canvas-container {
			canvas {
				width: 100% !important;
			}
		}
		.mapboxgl-popup {
			width: $left;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: none !important;
			opacity: 0;
			transition: opacity 200ms ease-in-out;
			will-change: transform, opacity;
			z-index: 500;
			pointer-events: none;
			.mapboxgl-popup-content {
				position: relative;
				color: $white;
				padding: 20px;
				.mapboxgl-popup-close-button {
					display: none;
				}
				ul {
					padding: 0;
					margin: 0;
					list-style: none;
					li {
						padding: .25em 0;
						margin: 0;
					}
				}
			}
			&.show {
				opacity: 1;
			}
		}
	}
}
#embed {

}
footer {
	width: calc(100% - #{$lgSpace});
	height: calc(#{$mdSpace} - 14px);
	position: absolute;
	left: $mdSpace;
	bottom: 7px;
	display: flex;
	justify-content: space-between;
	.logo {
		height: 100%;
		object {
			width: auto;
			height: calc(#{$mdSpace} - 14px);
		}
	}
	.keys {
		display: flex;
		.key {
			padding-left: calc(#{$mdSpace});
			background-position: 5px center;
			background-repeat: no-repeat;
			background-size: contain;
			display: flex;
	    align-items: center;
	    &.accept {
	    	background-image: url(./img/accepted-key.svg);
	    }
	    &.reject {
	    	background-image: url(./img/rejected-key.svg);
	    }
		}
	}
}
#creation {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	flex-direction: row;
	align-content: center;
	background-color: $lightBlue;
	display: none;
	overflow-y: auto;
	form {
		height: 100%;
		display: flex;
		margin: auto;
		.inner {
			width: 100%;
			display: table;
			margin: auto;
			padding: 50px;
			.group {
				width: #{$left*2};
				display: table;
				margin: auto;
			}
			fieldset {
				border: 0;
				margin: 10px 0;
				padding: 0;
				&.half {
					width: calc(50% - 20px);
					float: left;	
				}
			}
			label {
				width: 100%;
				@include mdText;
				display: block;
				padding: 0 0 10px 0;
			}
			input, select {
				width: 100%;
				padding: 10px;
				border: none;
			}
			select {
				height: 33px;
			}
		}
	}
}